@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1 {
    font-size: calc(20px + 1.6vw);
    color: #262877;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    z-index: 1;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0px 10px;
    font-size: 1vw;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.center_menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: calc(16px + 0.4vw);
    color: #262877;
    font-weight: 900;
    margin-right: 10px;
}

.logo img {
    width: calc(20px + 2.6vw);
    height: calc(20px + 2.6vw);
}

.logo {
    margin-right: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    margin: 0;
    padding: 0;
    line-height: 18px;
    list-style: none;
    display: flex;
}

.mobile_menu ul {
    margin: 0;
    padding: 0;
    line-height: 18px;
    list-style: none;
}

.menu li,
.mobile_menu li {
    margin-right: 10px;
    margin-left: 10px;
}

.menu a,
.mobile_menu a {
    font-size: calc(12px + 0.2vw);
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: calc(1px + 0.4vw) calc(1px + 0.5vw);
}
.mobile_menu a {
    text-align: right;
}

#showLoginFormButton {
    border: none;
    outline: none;
}

header a:hover,
.mobile_menu a:hover {
    text-decoration: underline;
}

.mobile_menu {
    display: none;
    z-index: 1;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    top: 60px;
    right: 0;
    width: fit-content;
    border-radius: 0px 0px 10px 10px;
}

.header_burger {
    display: none;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    header {
        justify-content: space-between;
    }
    #title br {
        display: none;
    }
    .header_burger {
        display: block;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 10px;
    }
    .header_burger span {
        position: absolute;
        background-color: #262877;
        width: 100%;
        height: 2px;
        left: 0;
        top: 4px;
    }
    .header_burger:before,
    .header_burger:after {
        content: '';
        position: absolute;
        background-color: #262877;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header_burger:before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }
    .menu {
        display: none;
    }
    .description_of_cookies .cookie_features,
    .description_of_cookies .company_description {
        flex-flow: column;
    }
}

.popup {
    width: 350px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #00569a ,#262877);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center;
    flex-direction: column; /* Установите направление в столбце для вертикального выравнивания */
    justify-content: center; /* Выравнивание элементов по вертикали по центру */
    align-items: center; /* Выравнивание элементов по горизонтали по центру */
}

.popup h1 {
    font-size: 30px;
    color: white;
}

.popup img{
    display: inline;
    margin-bottom: 20px;
}

.popup label {
    display: flex;
    color: white;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.popup input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: transparent; 
    border: 1px solid white;
    border-radius: 10px;
}

.popup input:focus {
    background-color: transparent; 
    outline: none;
    border: 3px solid white;
}

.popup input::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.popup button {
    width: 150px;
    background-color: white;
    color: #262877;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

#arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#arrow:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.image-container {
    position: relative; /*делает его контекстом позиционирования для дочерних элементов, 
    что означает, что вы можете использовать относительное или абсолютное позиционирование 
    для элементов внутри .image-container относительно самого контейнера.*/
}

.image-container img {
    width: 100%; /* Обеспечиваем максимальную ширину изображения в контейнере */
    opacity: 90%;
}

.text-overlay {
    position: absolute;
    width: 100%;
    top: 50%; /* Позиционируем текст по вертикали по центру контейнера */
    left: 50%; /* Позиционируем текст по горизонтали по центру контейнера */
    transform: translate(-50%, -50%); /* Корректируем положение текста */
    padding: 10px; /* Отступы вокруг текста */
    color: white; /* Цвет текста */
    font-size: calc(20px + 1.9vw); /* Размер шрифта */
    font-weight: 900;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    text-align: center;
}

.little_description {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.text_block {
    margin: 30px;
    flex: 1;
}

.text_block p {
    font-size: calc(16px + 0.5vw);
    text-align:justify;
    margin: 20px;
}

.image {
    margin: 20px;
}

.image:hover{
    transition: transform 0.3s;
    transform: scale(1.02);
}

.image img {
    width: calc(300px + 20vw);
}

.description_of_cookies {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

#what_special {
    text-align: right;
    margin-right: 40px;
}

.description_of_cookies .about_us h1 {
    text-align: left;
    margin-left: 40px;
}

.about_us p {
    font-size: calc(10px + 0.2vw);
    text-align: justify;
}

.about_us {
    margin: 30px;
    display: flex;
    flex-flow: column;
    justify-content:start;
    align-items: start;
    flex: 1;
}

.cookie_features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    flex: 1;
}

.company_description {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.company_description img {
    width: calc(200px + 6.5vw);
}

.description_of_cookies aside {
    flex: 0 0 15%;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #00569a ,#262877);
}

.description_of_cookies aside img {
    width: calc(100px + 6.5vw);
}

aside h3 {
    font-size: calc(12px + 0.1vw);
    color: white;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.description_of_cookies aside p {
    color: white;
    font-size: calc(8px + 0.2vw);
    text-align: justify;
}

.news-headline {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 970px) {
    .description_of_cookies {
        flex-flow: column;
    }
    .description_of_cookies aside {
        flex-flow: row;
        align-items: start;
    }
    .description_of_cookies aside p {
        width: 25%;
    }
    .description_of_cookies aside * {
        padding: 5px;
    }
}

#showWorkFormButton {
    padding: 5px;
    background-color: white;
    color: #262877;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#workForm {
    width: 700px;
}

#workForm select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent; /* Сделать фон прозрачным */
    padding: 10px; /* Задать отступы */
    border: 1px solid white; /* Добавить грани */
    border-radius: 10px; /* Скруглить углы */
    outline: none; /* Убрать контур при фокусе */
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#workForm option:hover {
    font-weight: 500;
}

#workForm textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #262877;
    resize: none;
}

.horizontal-group .left{
    float:left;
    width:49%;
}
  
.horizontal-group .right{
    float:right;
    width:49%;
}

.horizontal-group {
    display: flex;
    padding: 10px;
}

.form-group{
    margin-bottom:20px;
}

#agree {
    align-self: center;
}

#workForm textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: grey;
}

#closeWorkFormButton {
    display: inline;
}

.popup fieldset {
    border-color: white;
    color: white;
}

#workForm #agree {
    width: fit-content;
    margin-left: 10px;
}

.pinterest h1{
    width: 100%;
    text-align: center;
}

.pinterest p {
    opacity: 70%;
    width: 100%;
    text-align: center;
    font-size: calc(5px + 2vw);
}

.pinterest {
    padding: 20px;
    background-color: #ebe2dc;
}

.board {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.photo {
    transition: transform 0.2s;
    width: 20vw;
    height: 20vw;
    display: block;
    min-width: 150px;
    min-height: 150px;
    margin: 5px;
}

.photo:hover{
    transition: transform 0.5s;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .board {
        position: relative;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        width: 100%;
        justify-content: center;
        padding-right: 5px;
    }
    .photo {
        max-width: 300px;
        margin: 3px;
    }
}

@media (max-width: 320px) {
    .board {
        position: relative;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        width: 100%;
        justify-content: center;
        padding-right: 5px;
    }
    .photo {
        width: 5vw;
        display: block;
        flex: 25%;
        max-width: 200px;
        margin: 3px;
    }
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #262877;
}

footer h3 {
    font-size: calc(12px + 0.2vw);
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

footer address {
    display: flex;
}

footer a {
    font-size: calc(12px + 0.1vw);
    color: white;
    margin: 0px 20px;
}

.pr4 {
    margin-left: 20px;
    margin-bottom: 20px;
}