.login {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
}

.choice-line {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  position: relative;
  overflow: hidden;
  margin: 0 calc(2 * var(--index));
  color: white;
  font-size: calc(16px + 1.5 * var(--index));
  font-weight: 900;
}

.choice::after{
  position: absolute;
  content: '';
  background: white;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: -100%;
  transition: all 0.7s ease-in-out;
}

.choice:hover::after {
  left: 100%;
}

.registration-form {
  padding: 20px;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: calc(0.7 * var(--index));
  align-items: center;
}

.label {
  margin: 20px;
  font-size: calc(12px + 0.4 * var(--index));
  font-weight: 700;
  color: white;
}

.input-container {
  position: relative;
  margin: 20px;
  width: 90%;
  height: 50%;
  justify-self: right;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(12px + 0.4 * var(--index));
  font-weight: 200;
  text-align: right;
  width: 100%;
  color: white;
  border: none;
  background-color: transparent;
}

.input-container::after {
  position: absolute;
  content: '';
  background: white;
  width: 100%;
  height: 1px;
  bottom: 0;
  right: 0;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}